.form {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 20px;
    align-items: center;
}

.form__label {
    display: inline-block;
    min-width: 40%;
    font-weight: 700;
}

.form__inputValue {
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: #3f3f3f;
    font-size: 16px;
    min-width: 250px;
    min-height: 40px;
    outline: initial;
    box-shadow: inset 5px 5px 13px 0px #cecece;
}

.form__select {
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    color: #3f3f3f;
    font-size: 16px;
    min-width: 250px;
    min-height: 40px;
    outline: initial;
    box-shadow: inset 5px 5px 13px 0px #cecece;
    vertical-align: middle;
}

.form__submitButton {
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    transition: 0.6s;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #FEF200;
    cursor: pointer;
    min-width: 50%;
}

.form__submitButton:hover {
    background-color: #000000;
    color: #ffffff;
    text-decoration: underline #ffffff;
    transition: 0.6s;
}

.form__result p {
    text-align: center;
}